<!DOCTYPE HTML>
<html>
    <head>
        <meta charset="UTF-8"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='board.css') }}"/>
    </head>
    <body>
        <div>
            <form action="/edit/" method = "POST" enctype="multipart/form-data">
                <p>프로필 이미지 업로드 <input type="file" name="img_file"></p>
                <p>전화 번호 : <input type="text" name="number" value="{{number}}"></p>
                <p>학교 : <input type="text" name="school" value="{{school}}"></p>
                <p><input type="submit" value="수정"></p>
            </form>
            </div>
            <a href="#" onClick="history.back()">이전페이지로</a>
        </div>
    </body>
</html>